<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed Orders</title>
</head>
<body>
    <%- include('./layouts/_navbar.ejs',{isAuthenticated:isAuthenticated}) %>
    <% for( let i = 0; i < orders.length; i++ ) { %>
        <p><%= orders[i].productId %> </p>
        <p><%= orders[i].totalPrice %> </p>
        Have you issue?
        <button><a href="/text/<%= orders[i].id %> ">Send message</a></button>
        <% if (orders[i].isReturned) { %>
         <p>Order was returned..</p>
        <% }else{ %>
            <button><a href="/return/<%= orders[i].id %>">Return Order</a></button>
            <% } %> 
    <% } %>
    
</body>
</html>