<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">


    


<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

</head>
<body>
<% if(isAuthenticated) { %>
  <%- include('./layouts/_navbar.ejs',{isAuthenticated:isAuthenticated}) %>
<link rel="stylesheet" href="css/orderPage.css">
<link rel="stylesheet" href="css/index.scss">

      
  <div class="container">
    <% for(var i = 0; i<products.length; i++){ %>
      <a class="div_a" href="<%= url(products[i].id,products[i].productName) %> ">
        <div class="product">
          <img class="img" src=<%= images[i] %>  alt="">
          <h3><%= products[i].productName %> </h4>
          <p>Price: <%= products[i].price %> $ </p>
          <p align="left" style="margin-left:30px;">Store: <a class="storeName" href="/store/<%= pathnames[i] %> "><%= storeNames[i] %></a>  </p>
          <form method="post">
            <% if (favourites[i]) { %>
                <button style="visibility:visible;position:static" value="<%= products[i].id %>" type="submit" name="button">Remove Favourite</button>
            <% }else{ %>
                <button style="visibility:visible;position:static" value="<%= products[i].id %>" type="submit" name="button">Favourite</button>

              <% } %> 
          </form>
      </div>
      </a>

<% } %> 

  </div>

  
    
    


<% }else{ %> 
  <%- include('./layouts/_navbar.ejs',{isAuthenticated:isAuthenticated}) %>

<% } %> 
</body>
</html>
<script>
  function url(id,name){
    name = name.replace(' ','-')
    name = name.trim();
    return `/products/${name}-${id}` 
}


</script>
