<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %> </title>
</head>
<body>
    <%- include('./layouts/_navbar.ejs',{isAuthenticated:isAuthenticated}) %>
    <link rel="stylesheet" href="css/profilePage.css">
    <div class="main" align="center">
        <% if (type==="user") { %>
            <h1 align="center"> Personal</h1>
            <h2>Username: <%= user.username %> </h2>
            <p>Full Name: <%= user.fullName %> </p>
            <p>Email: <%= user.email %> </p>
            <button id="changeEmail" onclick="changeEmailFunc()">Change Email</button>
            <div class="changeEmailBox" style="visibility:hidden;position:absolute;margin-top:10px" id="changeEmailBox">
                <form action="/profile/email/change" method="post">
                    <input type="email" name="email" id="email" required>
                    <button type="submit">Change Email</button>
                </form>

            </div>
            <% if (user.adress) { %>
                <p id="adressText">Adress: <%= user.adress %> </p>
                <form action="/profile/adress/edit" method="post" id="saveAdress" style="visibility:hidden;position:absolute">
                    <input type="text" name="adressInput" id="editAdressText" placeholder="Adress" required style="visibility:hidden;display:block;position:absolute">
                    <button type="submit">Save</button>
                </form>
                <button value="true" id="editAdress" type="button" onclick="editAdressFunc()"> Edit or delete adress</button>
            <% }else{ %>
                <p>You don't have an adress. Please add one.</p> 
                <button value="false" id="editAdress" type="button" onclick="editAdressFunc()">Add Adress</button>
                

            <% } %>
            <div id="editAdressBox" style="visibility:hidden;position:absolute;margin-top:10px;" class="editAdressBox">
                <% if(user.adress){ %>
                    <button type="button" id="editAdressBtn" onclick="adressInputFunc()" style="visibility:hidden;position:absolute;">Edit</button>
                    <form action="/profile/adress/delete" method="post">
                        <button type="submit">Delete Adress</button>
                    </form>

            </div>  

                <% }else{ %>
                <form action="/profile/adress/add" method="post">
                    <input type="text" name="adress" id="adress" placeholder="Adress" required>
                    <button type="submit">Add Adress</button>
                </form>
            </div>  
                <% } %> 
            <h1 align="center">Security</h1>
            <p>Password</p>
            <button type="button" id="changePassword" onclick="changePasswordFunc()" >Change Password</button>
            <div class="changePasswordBox" id="changePasswordBox">
                <form action="/profile/password/change" method="post">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <input type="password" name="newPassword" id="newPassword" placeholder="New Password" required>
                    <input type="password" name="reNewPassword" id="reNewPassword" placeholder="Re-New Password" required>
                    <button type="submit">Change Password</button>
                </form>

            </div>
            <h1 align="center">Payment Methods</h1>
            <% if (pMethod) { %>
                <p>Card Number: <%= pMethod.cardNumber %> </p>
                <p>CVV: <%= pMethod.cvv %>  </p>
                <p>Exprition Date: <%= pMethod.expritionDate %> </p>
                <form action="/profile/change/paymentmethod/delete" method="POST">
                    <button type="submit">Delete Payment Method</button>
                </form>
            <% }else{ %>
                <p>You don't have a payment method. Please add one...</p>
                <button id="addPMethod" type="button" onclick="addPMethodFunc()">Add Payment Method</button>
                <div class="addPMethodBox" id="addPMethodBox" style="visibility:hidden;position:absoulte;margin-top:10px;">
                    <form action="/profile/card/add" method="post">
                    <input type="text" name="cardNumber" id="cardNumber" placeholder="Card Number" style="display:block" required>
                    <select name="month" >
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <select name="year">
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        <option value="2031">2031</option>
                        <option value="2032">2032</option>
                        <option value="2033">2033</option>
                        <option value="2034">2034</option>
                        <option value="2035">2035</option>
                    
                    </select>
                    <input type="text" name="cvv" id="cvv" style="display:block" placeholder="CVV" required>
                    <button type="submit">Add Payment Method</button>
                </form>
                </div>
                <% } %> 
    
        <% }%>
    
    </div>
    
</body>
</html>

<script>
    var changePassword = document.getElementById("changePassword");
    var changePasswordBox = document.getElementById("changePasswordBox");
    var editAdressBox = document.getElementById("editAdressBox");
    var editAdress = document.getElementById("editAdress");
    var changeEmailBtn = document.getElementById("changeEmail");
    var changeEmailBox = document.getElementById("changeEmailBox");
    var addPMethodBtn = document.getElementById("addPMethod");
    var addPMethodBox = document.getElementById("addPMethodBox");


    function changePasswordFunc(){
        changePasswordBox.style.visibility = "visible";
        changePasswordBox.style.position = "static";
        changePassword.style.backgroundColor = "black";
        changePassword.style.color = "white";
        changePassword.onclick = changePasswordFuncReverse;
    }

    function changePasswordFuncReverse(){
        changePasswordBox.style.visibility = "hidden";
        changePasswordBox.style.position = "absolute";
        changePassword.style.backgroundColor = "white";
        changePassword.style.color = "black";
        changePassword.onclick = changePasswordFunc;
    }

    function editAdressFunc(){
        if(editAdress.value==="true"){
            var editAdressBtn = document.getElementById("editAdressBtn");
            editAdressBtn.style.visibility = "visible";
            editAdressBox.style.visibility = "visible";
            editAdressBtn.style.position = "static";
            editAdressBox.style.position = "static";
            editAdress.style.backgroundColor = "black";
            editAdress.style.color = "white";
        }else{
            editAdressBox.style.position = "static";
            editAdressBox.style.visibility = "visible";
            editAdress.style.backgroundColor = "black";
            editAdress.style.color = "white";

        }
        editAdress.onclick = editAdressFuncReverse;

    }

    function editAdressFuncReverse(){
        if(editAdress.value ==="true"){
            var editAdressBtn = document.getElementById("editAdressBtn");
            editAdressBtn.style.visibility = "hidden";
            editAdressBox.style.visibility = "hidden";
            editAdressBtn.style.position = "absolute";
            editAdressBox.style.position = "absolute";
            editAdress.style.backgroundColor = "white";
            editAdress.style.color = "black";
        }else{
            editAdressBox.style.position = "absolute";
            editAdressBox.style.visibility = "hidden";
            editAdress.style.backgroundColor = "white";
            editAdress.style.color = "black";
        }

        editAdress.onclick = editAdressFunc;
    }

    function changeEmailFunc(){
        changeEmailBox.style.visibility = "visible";
        changeEmailBox.style.position = "static";
        changeEmailBtn.style.backgroundColor = "black";
        changeEmailBtn.style.color = "white";
        changeEmailBtn.onclick = changeEmailFuncReverse;
    }

    function changeEmailFuncReverse(){
        changeEmailBox.style.visibility = "hidden";
        changeEmailBox.style.position = "absolute";
        changeEmailBtn.style.backgroundColor = "white";
        changeEmailBtn.style.color = "black";
        changeEmailBtn.onclick = changeEmailFunc;
    }

    function addPMethodFunc(){
        addPMethodBox.style.visibility = "visible";
        addPMethodBox.style.position  = "static";
        addPMethodBtn.style.backgroundColor = "black";
        addPMethodBtn.style.color = "white";
        addPMethodBtn.onclick = addPMethodFuncReverse;
    }

    function addPMethodFuncReverse(){
        addPMethodBox.style.visibility = "hidden";
        addPMethodBox.style.position  = "absolute";
        addPMethodBtn.style.backgroundColor = "white";
        addPMethodBtn.style.color = "black";
        addPMethodBtn.onclick = addPMethodFunc;
    }

    function adressInputFunc(){
        var editAdressBtn = document.getElementById("editAdressBtn");
        var editAdress = document.getElementById("editAdressText");
        var adressText = document.getElementById("adressText");
        var saveAdress = document.getElementById("saveAdress");

        adressText.style.visibility = "hidden";
        adressText.style.position = "absolute";

        editAdress.style.visibility = "visible";
        editAdress.style.position = "static";

        saveAdress.style.visibility = "visible";
        saveAdress.style.position = "static";

        editAdressBtn.onclick = adressInputFuncReverse;

    }

    function adressInputFuncReverse(){
        var editAdressBtn = document.getElementById("editAdressBtn");
        var editAdress = document.getElementById("editAdressText");
        var adressText = document.getElementById("adressText");
        var saveAdress = document.getElementById("saveAdress");

        adressText.style.visibility = "visible";
        adressText.style.position = "static";

        editAdress.style.visibility = "hidden";
        editAdress.style.position = "absolute";

        saveAdress.style.visibility = "hidden";
        saveAdress.style.position = "absolute";

        editAdressBtn.onclick = adressInputFunc;
    }
</script>