<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopcart</title>
</head>
<body>
    <%- include('./layouts/_navbar.ejs',{isAuthenticated:isAuthenticated}) %>
    <link rel="stylesheet" href="css/shopcartPage.css" type="text/css">

    <div class="container">
        <% if (products.length === 0) { %>
            <p>Your shopcart is empty... <a href="/">Main Page</a></p>
        <% }else{ %>
            <% for( let i = 0; i < products.length; i++ ) { %>
                    <div class="product">
                        <form method="post">
                        <img class="img" src=<%= images[i] %>  alt="">
                        <h3><%= products[i].productName %> </h4>
                        <p>Amount: <span  id="<%= shopcart[i].id %>" name="amount" ><%= shopcart[i].amount %></span></p>
                        <p>Price: <%= products[i].price %> $ </p>
                        <p>Total Price: <%= shopcart[i].totalPrice %> $ </p>
                        <input id="<%=shopcart[i].id%>1" style="visibility: hidden;position:absolute;" type="text" name="<%= products[i].productName %>+<%= shopcart[i].id %>">
                            <button name="button" value="<%= shopcart[i].id %>" onclick="arti(this.value)" class="btn1 arti"> <strong>+</strong> </button><button name="button" value="<%= shopcart[i].id %>" onclick="eksi(this.value)" class="btn1 eksi"> <strong>-</strong> </button>
                        </form>
                        

                    </div>
                <% } %>
        
        <% } %> 

    </div>
        <form action="/shopcart/order" method="post">
            <button class="button" type="submit">Order</button>
        </form>
</body>
</html>

<script>
    function arti(id){
        var amountTxt = document.getElementById(String(id));
        amount = parseInt(amountTxt.innerHTML);
        amount+=1;
        amountTxt.innerHTML = String(amount);
        var txt = document.getElementById(id+"1");
        txt.value = String(amount);
    }

    function eksi(id){
        var amountTxt = document.getElementById(String(id));
        amount = parseInt(amountTxt.innerHTML);
        if (amount===1){
            alert('Ürün sepetten kaldırılsın mı?')
            var txt = document.getElementById(id+"1");
            txt.value = String(amount);
        }else if(amount===0){
            
        }else{
            amount-=1;
            amountTxt.innerHTML = String(amount);
            var txt = document.getElementById(id+"1");
            txt.value = String(amount);
        }

    }

</script>