<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= store.storeName %> </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">


</head>
<body>
    <header>

    </header>
    <div class="row">
        <%- include('./layouts/_navbar.ejs',{isAuthenticated:isAuthenticated}) %>
        <link rel="stylesheet" href="/css/storecss.css" type="text/css">

        <% if(isAuthenticated){ %>
            <h1 align="center"><%= store.storeName %> </h1>
            <% for( let i = 0; i < products.length; i++ ) { %>
                <div class="column" align="center" style="padding-right:20px">
                <img class="image" src=<%= images[i]  %> " alt="">
                <h2><%= products[i].productName %></h2>
                <p><%= products[i].description %></p>
                <p align="right"><%= products[i].price %> $ </p>
            </div>
            <% } %>

            <% }else{ %>

                <% } %>   




      </div>
      

</body>
</html>